<p-table [columns]="cols" [value]="customers" [paginator]="true" [rows]="25" [scrollable]="true" 
[scrollHeight]="tableHeight" [rowsPerPageOptions]="[25,50,75,100]" id="sampleTable" [loading]="loading" [resizableColumns]="true" columnResizeMode="expand">
  <ng-template pTemplate="colgroup" let-columns>
    <colgroup>
      <col style="width:100px">
      <col *ngFor="let col of columns" [style.width.px]="col.width">
    </colgroup>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th></th>
      <th *ngFor="let col of columns" pResizableColumn [ngClass]="col.align">
        {{col.header}}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td><button pButton type="button" (click)="submitCustomer($event, rowData)" label="Submit"></button></td>
      <td *ngFor="let col of columns" [ngClass]="col.align">
        {{rowData[col.field]}}
      </td>
    </tr>
  </ng-template>
</p-table>